body {
  margin: 0;
  background: #020617;
  color: white;
  font-family: system-ui;
}

.app {
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
}

button {
  padding: 12px 20px;
  margin: 1rem;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
